In [13]:
import pandas as pd
data = pd.read_excel('dataset.xlsx')

In [14]:
data[data.rating>0].describe()

,wind_speed,wind_dir,swell_height,swell_period,swell_dir,rating
count,1782.000000,1782.000000,1782.000000,1782.000000,1782.000000,1782.000000
mean,8.942200,171.838384,0.768911,7.276094,177.859147,358.747475
std,5.616064,96.344895,0.260908,2.563091,103.956534,260.602072
min,0.000000,1.000000,0.000000,1.000000,0.000000,6.000000
25%,4.000000,103.250000,0.600000,6.000000,86.000000,144.000000
50%,9.000000,161.000000,0.800000,7.000000,178.000000,312.000000
75%,13.000000,245.750000,0.900000,9.000000,268.000000,500.000000
max,25.000000,360.000000,1.700000,16.000000,360.000000,1715.000000

In [15]:
def notation (rating): 
    if rating == 0 : 
        note = 0
    if rating > 0 : 
        note = 1
    if rating > 144 :
        note = 2
    if rating > 312 :
        note = 3
    if rating > 500 :
        note = 4
    return note

In [16]:
data.loc[:,'note']=data.rating.apply(notation)

In [17]:
clean_dataset =data.drop(columns=['rating'])

In [18]:
clean_dataset.note.value_counts()

note
0    4212
1     476
3     462
2     427
4     417
Name: count, dtype: int64

In [20]:
clean_dataset_class_zero = clean_dataset[clean_dataset.note == 0]
clean_dataset_other_classes = clean_dataset[clean_dataset.note != 0]

In [21]:
len(clean_dataset_class_zero)

4212

In [22]:
len(clean_dataset_other_classes)

1782

In [23]:
clean_dataset_class_zero_sampled = clean_dataset_class_zero.sample(frac=0.1, random_state=42)

In [24]:
len(clean_dataset_class_zero_sampled)

421

In [25]:
# Combine the sampled class 0 data with the other classes
balanced_cleaned_dataset = pd.concat([clean_dataset_class_zero_sampled, clean_dataset_other_classes])

# Optionally, shuffle the combined DataFrame
balanced_cleaned_dataset = balanced_cleaned_dataset.sample(frac=1, random_state=42).reset_index(drop=True)

In [27]:
balanced_cleaned_dataset.note.value_counts()

note
1    476
3    462
2    427
0    421
4    417
Name: count, dtype: int64

In [30]:
balanced_cleaned_dataset.to_csv('dataset_rochebonne.csv', index=False)